<!DOCTYPE html>
<html lang="en-us" dir="ltr">

<head>
  <!-- Start SEO Google - Search Engine Optimaization -->
  <title>HTML Tutorial</title>
  <meta charset="UTF-8" />
  <meta name="description" content="My Description" />
  <meta name="author" content="Mohamed Nour Abdo" />
  <meta name="keywords" content="Template, my template" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <!-- Viewport has many attribute such as : width="device-width", height="device-height", initial-scale="1.0|AnyValue", minimum-sclae="1.0|0.0", maximum-scale="1.0|0.0", user-scalable="Yes|No" -->
  <meta name="theme-color" content="#000000" />
  <meta name="robots" content="index, follow" />
  <meta http-equiv="refresh" content="" />
  <!-- End SEO Google - Search Engine Optimaization -->

  <!-- Start SEO Facebook - Search Engine Optimaization Open Graph -->
  <meta property="og:title" content="Template" />
  <meta property="og:description" content="My Description" />
  <meta property="og:image" content="" />
  <meta property="og:image:width" content="1200" />
  <meta property="og:image:height" content="630" />
  <meta property="og:url" content="" />
  <meta property="og:type" content="website" />
  <!-- End SEO Facebook  - Search Engine Optimaization Open Graph -->

  <!-- Start SEO Twitter - Search Engine Optimaization -->
  <meta name="twitter:title" content="Template" />
  <meta name="twitter:card" content="summary_large_image" />
  <meta name="twitter:description" content="My Description" />
  <meta name="twitter:image" content="" />
  <meta name="twitter:site" content="@Email" />
  <meta name="twitter:creator" content="@Mohamed Nour Abdo" />
  <!-- End SEO Twitter - Search Engine Optimaization -->

  <!-- Start Icon -->
  <link rel="icon" href="ps5-dualsense.jpg" />
  <link rel="shortcut" href="ps5-dualsense.jpg" />
  <link rel="apple-touch-icon" href="ps5-dualsense.jpg" />
  <!-- End Icon -->

  <!-- Start CSS RelationShip -->
  <link rel="stylesheet" href="style.css" />
  <style>
    ::-webkit-meter-bar {
      background-color: white;
    }

    ::-webkit-meter-optimum-value {
      background-color: green;
    }

    ::-webkit-meter-suboptimum-value {
      background-color: yellow;
    }

    ::-webkit-meter-even-less-good-value {
      background-color: red;
    }
  </style>
  <!-- End CSS RelationShip -->

  <!-- Start Base Data -->
  <base href="" />
  <!-- End Base Data -->
</head>

<body>
  <!-- This is a comment -->
  <!-- Heading Element -->
  <h1 tabindex="0" align="left">Mohamed Nour Abdo</h1>
  <h2 tabindex="0" align="center">Mohamed Nour Abdo</h2>
  <h3 tabindex="0" align="right">Mohamed Nour Abdo</h3>
  <h4 tabindex="0">Mohamed Nour Abdo</h4>
  <h5 tabindex="0">Mohamed Nour Abdo</h5>
  <h6 tabindex="0">Mohamed Nour Abdo</h6>

  <!-- Formating Elements -->
  <h4>
    <b>Lorem</b>, <strong>ipsum</strong> <mark>dolor</mark> <small>sit</small> <del>amet</del> <i>consectetur</i>
    <em>adipisicing</em> <sub>elit</sub>. <sup>Nesciunt</sup>, <u>dolore</u> <ins>incidunt</ins>.
  </h4>

  <!-- Anchor Hyberlink Element -->
  <a href="page2.html">Move To Page2.html</a>
  <br>
  <a href="#click">Move</a>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p id="click">Element For <mark>Clicked</mark> !!!!</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <p>Move</p>
  <!-- Start Another Element -->
  <!-- image -->
  <img src="W.jpg" alt="error in image position" width="200" height="" />
  <!-- Table -->
  <table border="2" width="100%">
    <caption>Students</caption>
    <thead>
      <tr>
        <th>Id</th>
        <th>Name Of Student</th>
        <th>Age Of Student</th>
        <th>Phone</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>1</td>
        <td>Mohamed Nour Abdo</td>
        <td>22</td>
        <td>12</td>
      </tr>
      <tr>
        <td>2</td>
        <td rowspan="2">Rajab</td>
        <td colspan="2">32</td>
      </tr>
      <tr>
        <td>3</td>
        <td>15</td>
        <td>1231254</td>
      </tr>
      <tr>
        <td>4</td>
        <td>Mostafa Ahmad</td>
        <td>25</td>
        <td>98236781256</td>
      </tr>
    </tbody>
    <tfoot>
      <th colspan="4">Information of Students</th>
    </tfoot>
  </table>
  <!-- Lists -->
  <ul type="square"> <!-- circle disc square -->
    <li>HTML</li>
    <li>CSS</li>
    <li>JavaScript
      <ul type="disc">
        <li>ReactJs</li>
        <li>VueJs</li>
        <li>AngularJs</li>
      </ul>
    </li>
  </ul>
  <ol type="a" reversed> <!-- 1 a A i I -->
    <li>Computer</li>
    <li>Laptop</li>
    <li>Mouse</li>
    <li>Keyboard</li>
  </ol>
  <dl>
    <dt>Syria</dt>
    <dd>Syria is beautifuly</dd>
  </dl>
  <!-- Audio Element -->
  <!-- Attributes ==> width height src controls muted autoplay loop preload = "auto | none | metadata" -->
  <audio src="assets/audio/audio.mp3" controls></audio>
  <audio controls>
    <source src="assets/audio/audio.mp3" type="audio/mpeg"/>
    <source src="assets/audio/audio.ogg" type="audio/ogg"/>
    <source src="assets/audio/audio.wav" type="audio/wav"/>
    Your Browser Doesn't Support Audio Tag Element
  </audio>
  <!-- Video Element -->
  <!-- Attributes ==> width height src controls muted autoplay loop preload = "auto | none | metadata" poster="image.*" -->
  <video src="assets/video/video.mp4" controls poster="W.jpg"></video>
  <video controls>
    <source src="assets/video/video.mp4" type="video/mp4" />
    <source src="assets/video/video.ogg" type="video/ogg" />
    <source src="assets/video/video.webm" type="video/webm" />
  </video>
  <!-- Embed Element For Show ===> PDF, Web -->
  <embed src="assets/pdf/PDF ASCCI.pdf" width="100%" height="200" />
  <!-- Show Video From Youtube In Website -->
  <iframe width="500" height="281.25" src="https://www.youtube.com/embed/0ZteKRSl49I?si=Jo7YPBiTfWmhUAfc?rel=0"
    title="YouTube video player" frameborder="0"
    allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
    allowfullscreen></iframe>
  <!-- height/width*newWidth = newHeight -->
  <!-- Details And Summary Elements -->
  <details>
    <summary>Programing Languages : </summary>
    <ul type="square"> <!-- circle disk square -->
      <li>HTML</li>
      <li>CSS</li>
      <li>JavaScript
        <ul type="disk">
          <li>ReactJs</li>
          <li>VueJs</li>
          <li>AngularJs</li>
        </ul>
      </li>
    </ul>
  </details>
  <!-- Button Elements -->
  <button type="button">Click me</button>
  <form action="index.html" method="GET"> <!-- GET | POST -->
    <input type="email" name="Email" />
    <button type="submit">Submit</button>
    <button type="reset">Reset</button>
  </form>
  <!--
    Inputs And Form
    Types Of Inputs : text file search range email password number date hidden checkbox radio tel color url week month submit reset
    Attributes Of Inputs : 
    type, name, required disabled ==> for all Element,
    autofocus,
    placeholder, min, max, minlength, maxlength,
    value, readonly, step

  -->
  <form action="index.html" method="GET">
    <input type="text" minlength="3" maxlength="6" value="Nour" name="username" required placeholder="Your Name" />
    <input type="checkbox" />
    <input type="color">
    <input type="date">
    <input type="email">
    <input type="file" accept="image/*,audio/*,video/*,.doc,.pdf,.txt,.tex">
    <input type="hidden">
    <input type="month">
    <input type="number" placeholder="number" value="123123" readonly>
    <input type="password">
    <input type="radio">
    <input type="range" step="20" max="200">
    <input type="search">
    <input type="tel">
    <input type="time">
    <input type="url">
    <input type="week">
    <input type="reset" autofocus>
    <input type="submit">
  </form>
  <!-- Select And Option -->
  <select name="Names Of Students" size="2" multiple required>
    <option value="">Choose Your Name : </option>
    <option value="Mohamed">Mohamed</option>
    <option value="Ahmad">Ahmad</option>
    <option value="B">B</option>
    <option value="C">C</option>
    <option value="D">D</option>
    <option selected value="E">E</option>
  </select>
  <!-- Meter Element -->
  <meter min="0" max="100" value="20" low="30" high="50" optimum="100"></meter>
  <!-- Textarea Element -->
  <textarea name="msg" cols="30" rows="10"></textarea>
  <!-- Iframe Element -->
  <!-- https show https not http -->
  <!-- http show https and http -->
  <iframe src="PDF ASCCI.pdf" allowfullscreen width="200" height="200"
  sandbox="allow-forms, allow-modals, allow-pointer-lock,
  allow-popups, allow-popups-to-escape-sandbox, allow-same-origin, allow-scripts, allow-top-navigation" ></iframe>
  <!-- Hr Element -->
  <!-- Hr : Height Width background-color -->
  <hr>
  <h2 align="center">M</h2>
  <hr>
  <h2 align="center">M</h2>
  <hr>
  <h2 align="center">M</h2>
  <hr>
  <h2 align="center">M</h2>
  <hr>
  <!-- Paragraph Uses For Text -->
  <p>
    Mohamed Nour
    Abdo
  <!-- PreFormatted Text -->
  <pre>   Mohamed     Nour
      Abdo</pre>
  </p>
  <!-- Div Element -->
  <div>
    <h2>Mohamed</h2>
  </div>
  <!-- Span Element -->
  <p>Lorem ipsum <span style="color: red;">dolor sit amet</span>.</p>
  <!-- Label Element - Relation By Id By For Attribute -->
  <form>
    <label for="name">Your Name : </label>
    <input id="name" type="text" />
    <button type="submit">Send</button>
  </form>
  <!-- Semantic Elements -->
  <main>A</main>
  <header>A</header>
  <section>A</section>
  <footer>A</footer>
  <nav>A</nav>
  <aside>A</aside>
  <article>A</article>
  <!-- Bi Directional Isolate Element And Bi Directional Override -->
  <h2>
    <bdi>محمد</bdi> Mohamed <bdi>نور</bdi> Abdo
    <p><bdo dir="rtl">Mohamed</bdo></p> <!-- demahod -->
  </h2>
  <!-- Fieldset And Legend -->
  <fieldset>
    <legend class="legend1">Title</legend>
    Porograming Languages
  </fieldset>
  <!-- Address Element Take Whole Line -->
  <address>
    <a href="https://youtube.com">https://youtube.com</a>
  </address>
  <!-- Abbr Element -->
  <abbr title="HyperText Markup Language">HTMl</abbr>
  <!-- Code Element And Pre Element -->
  <code>
    <pre>
  int i = 0;

    for(;i&lt;9;i++) {

      console.log(i);

    }
    </pre>
    <hr />
  <!-- Kbd Element -->
  <kbd>key E</kbd>
  <!-- Samp Element -->
  <samp>For </samp>
  <!-- Var Element -->
  <p><var>x</var> + 3 = 13</p>
  </code>
  <span>Name : </span>
  <!-- Dfn Element Write Italic But Doesn't Take Full Line -->
  <dfn>Mohamed Nour Abdo</dfn>
  <!-- Download Button -->
  <a href="W.jpg" download="image.jpg">Download</a>
  <!-- Q Element "" -->
  <q>Nour</q>
  <!-- Center Element -->
  <p>
    <center>Mohamed</center>
  </p>
  <!-- Blockquote Element -->
  <blockquote>A</blockquote>
  <!-- Contenteditable Attribute -->
  <p contenteditable>Mohamed Nour Abdo</p>
  <!-- Add A Map in Website -->
  <iframe
    src="https://www.google.com/maps/embed?pb=!1m17!1m12!1m3!1d3326.1278667766105!2d36.270466!3d33.524061!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m2!1m1!2zMzPCsDMxJzI2LjYiTiAzNsKwMTYnMTMuNyJF!5e0!3m2!1sar!2s!4v1701196249857!5m2!1sar!2s"
    width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"
    referrerpolicy="no-referrer-when-downgrade"></iframe>
  <!-- Dialog Element -->
  <dialog open>Mohamed</dialog>
  <!-- Marquee Element -->
  <marquee bgcolor="#1787e8" direction="left" behavior="alternate" vspace="200" loop="1" scrollamount="30">Mohamed Nour Abdo</marquee>
  <!-- Attributes For Marquee Elemenet
    bgcolor ==> color
    direction ==> direction (left, right, up, down)
    behavior ==> (alternate, scroll, slide)
    vspace ==> number same margin (vertical)
    hspace ==> number same margin (horizontal)
    loop ==> number of continues (loops)
    scrollamount ==> number of Speed (6 default)
  -->
  <!-- Noscript Tag Element -->
  <noscript>Don't Supported JavaScript</noscript>
  <!-- Br Element -->
  <br>
  <!-- Entities Symbols -->
  <p>&lt;&gt;&amp;&nbsp;&quot;&apos;&cent;&dollar;&copy;&reg;&euro;&yen;&pound;</p>
  <p>Mohamed</p>
  <!-- Figure And Img And Figcaption Elements -->
  <figure>
    <img src="ps5-dualsense.jpg" alt="error" width="100" height="100">
    <figcaption>Image</figcaption>
  </figure>
  <!-- Optgroup Element -->
  <select multiple>
    <optgroup label="Book 1 :">
      <option value="1">1</option>
      <option selected value="2">2</option>
    </optgroup>
    <optgroup label="Book 1 :">
      <option value="1">1</option>
      <option value="2">2</option>
    </optgroup>
  </select>
  <!-- Novalidate -->
  <form action="index.html" target="_blank" novalidate> <!-- _self _blank -->
    <input type="text" />
    <button type="submit">Submit</button>
  </form>
  <!-- List Attribute And datalist Element With Option Elements -->
  <input list="book" name="book" />
  <datalist id="book">
    <option value="Book 1" />
    <option value="Book 2" />
    <option value="Book 3" />
    <option value="Book 4" />
  </datalist>
  <!-- Wbr For Word Break Point -->
  <p>https://gashdghsdgashdasfgh\ashfasadasda<wbr>sdasdsgfasdfasdsasadasfasdgjjh.com</p>
  <!-- End Another Element -->
  <!-- Accessipility -->
  <p tabindex="0">Home</p>
  <p tabindex="0">Contact Us</p>
  <!-- Img And Map And Area Elements -->
  <img src="assets/img/ps5-dualsense.jpg" alt="Workplace" usemap="#workmap">
  <map name="workmap">
    <area shape="rect" coords="34,44,270,350" alt="Computer" href="computer.htm">
    <area shape="rect" coords="290,172,333,250" alt="Phone" href="phone.htm">
    <area shape="circle" coords="337,300,44" alt="Coffee" href="coffee.htm">
  </map>
  <hr />
  <!-- Symbol Decimal -->
  &#8704;	
  <hr />
  <!-- Sybmbol Hexa Decimal -->
  &#x225C;
  <!-- Picture And Source Elements - Resposive Image -->
  <picture>
    <source media="(min-width: 650px)" srcset="img1.jpg">
    <source media="(min-width: 465px)" srcset="assets/img/W.jpg">
    <img src="assets/img/ps5-dualsense.jpg">
  </picture>
  <!-- Start JavaScript RelationShip -->
  <script src="script.js"></script>
  <!-- End JavaScript RelationShip -->
</body>

</html>